.App-header {
  background-color: #4258c0;
  position: fixed;
  width: 100%;
  padding: 10px;
  z-index: 999999;
}

.App-header img{
  padding-left: 20px;
}

.App-footer{
  width:100%;
  background-color: #4258c0;
  color: #fff;
  text-align: center;
}

.App-chart-row {
  height: 400px;
  padding: 20px;
  border: 1px solid #b3afaf;
  margin: 10px;
  border-radius: 10px;
  margin-top: 80px;
}

.App-cityData {
  padding: 20px;
  border: 1px solid #b3afaf;
  margin: 5px;
  border-radius: 5px;
  text-align: center;
  font-size: medium;
  font-family: fangsong;
  font-weight: 600;
}

.col.search-box {
  margin-left: 10px;
  margin-top: 10px;
}

.App-cityData:hover {
  -ms-transform: scale(1.02); /* IE 9 */
  -webkit-transform: scale(1.02); /* Safari 3-8 */
  transform: scale(1.02); 
}